<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional Test Suite">
<listeners>
<listener class-name="customListeners.Listeners"></listener>
</listeners>
	<!--<groups> 
	<run> 
	<include name="regression"></include> 
	<exclude name="functional"></exclude> 
		</run> 
		</groups> -->
	<test name="Login Test1">
		<classes>
			<class name="udemyTestNG.Testcase1" />
		</classes>
	</test> <!-- Test -->

	<test name="Home Test2">
		<classes>
			<class name="udemyTestNG.Testcase2" />
		</classes>
	</test> <!-- Test -->


	<test name="Negative Test3">
		<classes>
			<class name="testNG.TestNGBasics" />
		</classes>
	</test> <!-- Test -->
	
		<test name="Failure Test">
		<classes>
			<class name="udemyTestNG.TestFailure" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
